<div class="container">
  <h2>{{ person.id ? 'Editar Persona' : 'Crear Persona' }}</h2>

  <!-- Mostrar mensaje de éxito -->
  <div *ngIf="successMessage" class="alert alert-success">
    {{ successMessage }}
  </div>

  <form (ngSubmit)="savePerson()">
    <div class="form-group">
      <label for="firstName">Nombre:</label>
      <input [(ngModel)]="person.firstName" name="firstName" class="form-control" required />
    </div>
    <div class="form-group">
      <label for="lastName">Apellido:</label>
      <input [(ngModel)]="person.lastName" name="lastName" class="form-control" required />
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input [(ngModel)]="person.email" name="email" class="form-control" required />
    </div>
    <div class="form-group">
      <label for="dateOfBirth">Fecha de Nacimiento:</label>
      <input [(ngModel)]="person.dateOfBirth" name="dateOfBirth" class="form-control" required type="date" />
    </div>
    <div class="form-group">
      <label for="phoneNumber">Teléfono:</label>
      <input [(ngModel)]="person.phoneNumber" name="phoneNumber" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-success">{{ person.id ? 'Actualizar' : 'Crear' }}</button>
  </form>

  <!-- Botón para volver a la lista de personas -->
  <button routerLink="/persons" class="btn btn-secondary mt-3">Volver a la Lista de Personas</button>
</div>